<div class="jumbotron">
	<h1>List of all authors</i></h1>
</div>

<img style="display: none;" src="https://i.redd.it/ounq1mw5kdxy.gif"/>
<ul>
	<div class="authors">
		<% @authors.each do |author| %>
			<%= render 'author', author: author %>
		<% end %>
	</div>
</ul>
<hr />

<div class="container authors-add">
	<%= render 'form' %>
</div>