<div class="jumbotron">
	<h1>List of all commenters</h1>
</div>

<img style="display: none;" src="https://i.redd.it/ounq1mw5kdxy.gif"/>
<ul>
	<div class="commenters">
		<% @commenters.each do |commenter| %>
			<%= render 'commenter', commenter: commenter %>
		<% end %>
	</div>	
</ul>
<hr />

<div class="commenters-display">
	<%= render 'form' %>
</div>

