<div class="jumbotron">
	<h1>List of all posts</h1>
</div>

<img style="display: none;" src="https://i.redd.it/ounq1mw5kdxy.gif"/>
<ul>
	<div class="posts">
		<% @posts.each do |post| %>
			<%= render 'post', post: post %>
		<% end %>
	</div>	
</ul>
<hr />

<div class="container posts-add">
	<%= render 'form' %>
</div>